{{#radio-button
    value="green"
    groupValue=color
    changed="colorChanged"}}
    Green
{{/radio-button}}

{{#radio-button
    value="blue"
    groupValue=color
    changed="colorChanged"}}
    Blue
{{/radio-button}}
<div class="inventory-swarm">
<div class="actions">
  <button {{action 'refresh'}}>refresh</button>
  <button {{action 'remove'}}>remove</button>
</div>

{{!-- {{model-class-selection-list modelClasses=modelClasses on-toggle=(action 'toggleClassSelection')}} --}}

{{input type="checkbox" name="modelClass" checked=A}}
{{input type="checkbox" name="modelClass" checked=B}}
{{input type="checkbox" name="modelClass" checked=C}}
{{input type="checkbox" name="modelClass" checked=CLK}}
{{input type="checkbox" name="modelClass" checked=ML}}
{{input type="checkbox" name="modelClass" checked=GLC}}
{{input type="checkbox" name="modelClass" checked=GL}}
{{input type="checkbox" name="modelClass" checked=GLK}}
{{input type="checkbox" name="modelClass" checked=CLS}}
{{input type="checkbox" name="modelClass" checked=CL}}
{{input type="checkbox" name="modelClass" checked=S}}
{{input type="checkbox" name="modelClass" checked=SL}}
{{input type="checkbox" name="modelClass" checked=SLK}}
{{input type="checkbox" name="modelClass" checked=SLS}}

{{#data-visual as |ctx width height|}}

  {{#d3-beeswarm
    select=ctx.svg.select.beeswarm
    model=selectedVehicles
    width=width
    height=height
    color=(color-scale "category20b")

      as |currentVehicle|}}
        {{inventory-popup vehicle=currentVehicle}}

  {{/d3-beeswarm}}

{{/data-visual}}
</div>
